.features
  background-color: $bg-color-light
  padding-top: 50px
  padding-bottom: 55px
  &-blocks
    display: flex
    gap: 20px
    // justify-content: space-between
    flex-wrap: wrap
  &-block
    display: flex
    flex: 1 0 30%
    padding: 28px 19px
    margin-bottom: 30px
    align-items: center
    background-color: #fff
    &__img
      flex-basis: 40%
      margin-right: 9px
    &__title
      font-size: 14px
      font-weight: 700
      margin-bottom: 5px
    &__discr
      font-size: 14px
      font-weight: 400

.numbers
  text-align: center
  display: flex
  gap: 20px
  &-block
    flex: 1 1 33.33%
    margin-bottom: 37px
    vertical-align: top
    &__title
      margin-bottom: 10px
      font-size: 36px
      font-weight: 900
      color: $active-color
      sup
        font-size: 20px
    &__text
      font-size: 16px
      font-weight: 300


@media screen and (max-width: 992px)
  .features
    &-block
      margin-bottom: 0
      flex: 1 1 45%

  .numbers
    &-block
      &__title
        font-size: 26px

@media screen and (max-width: 768px)
  .features
    &-block
      margin-bottom: 0
      flex: 1 1 100%

  .numbers
    flex-direction: column
    margin-bottom: 30px
    &-block
      margin-bottom: 0

@media screen and (max-width: 576px)
  .features
    &-blocks
      flex-direction: column
  .button
    padding: 10px 15px