.overlay
  position: fixed
  display: none
  top: 0
  width: 100%
  height: 100%
  z-index: 3
  background-color: rgba(#000, .5)
  .popup
    position: fixed
    max-width: 752px
    width: 100%
    top: 120px
    left: 50%
    transform: translateX(-50%)
    color: #fff
    &-close
      position: absolute
      right: -20px
      top: -33px
      font-size: 35px
      font-weight: 300
      cursor: pointer
    &-title
      display: block
      margin: 0
      width: 100%
      min-height: 70px
      background-color: $modal-color
      text-transform: uppercase
      font-size: 21px
      font-weight: 500
      text-align: center
      line-height: 70px
    &-form
      background: #373737 url(../img/backgrounds/modal-bg.jpg) center no-repeat
      background-size: cover
      padding: 40px 80px 50px
      &__container
        display: flex
        justify-content: center
      &__header
        padding: 0
        font-size: 30px
        font-weight: 400
        line-height: 27px
        text-align: center
        span
          display: block
          font-size: 24px
      &__label
        display: block
        margin-top: 20px
        margin-bottom: 17px
        font-size: 20px
        font-weight: 300
        line-height: 30px
        text-align: center
      &__input
        padding: 0 16px
        border: none
        width: 365px
        height: 56px
        border-radius: 4px
        font-size: 15px
      &__btn
        width: 180px
        height: 56px
        margin-left: 15px
        font-size: 15px
        font-weight: 500
        line-height: 22px
        background-color: $modal-color
      &__note
        margin-top: 10px
        display: block
        text-align: center

@media screen and (max-width: 992px)
  .overlay
    .popup
      width: 92%
      &-close
        right: 20px
        top: 10px
      &-form
        &__input
          width: 300px

@media screen and (max-width: 768px)
  .overlay
    .popup
      &-form
        padding: 40px
        &__container
          flex-direction: column
          align-items: center
          gap: 20px

@media screen and (max-width: 576px)
  .overlay
    .popup
      &-title
        font-size: 16px
        text-align: left
        padding-left: 20px
      &-form
        padding: 20px
        &__header
          font-size: 22px
          span
            font-size: 18px
        &__input
          max-width: 250px
          width: 90%